body {
  background-color: #ecebeb;
}

input, select, textarea {
  width: 100%;
  border: 1px solid #cccccc;
  border-radius: 0.25rem;
  padding-left: 0.5rem;
  line-height: 2rem;
}

select {
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
}
