{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<section>
    <h2>Список курсов</h2>
    <ul class="courses-list"></ul>
</section>

<br>

<section>
    <h2>Список занятий</h2>
    <ul class="lessons-list"></ul>
</section>


<script src="{% static 'frontend/index.js' %}"></script>
</body>
</html>