{% load static %}

<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
<div class="container">
    <header>
        <nav class="navbar bg-secondary rounded-bottom mb-3 shadow">
            <ul class="navbar-nav flex-row align-items-center">
                <li class="nav-item mr-2">
                    <a href="{% url 'courses-list' %}" class="btn btn-light">Все курсы</a>
                </li>
                <li class="nav-item">
                    <a href="{% url 'course-create' %}" class="btn btn-success">Добавить курс</a>
                </li>
            </ul>

            <ul class="navbar-nav flex-row align-items-center">
                <li class="nav-item">
                    <a href="{% url 'contacts' %}" class="btn btn-light">Контакты</a>
                </li>
            </ul>
        </nav>
    </header>

    <main>
        {% block main %}{% endblock %}
    </main>
</div>


<script src="{% static 'js/bootstrap.bundle.js' %}"></script>
</body>
</html>