@import '../../frontend/src/components/Navbar/styles';
@import '../../frontend/src/components/CourseCard/styles';

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #ecebeb;
}

main {
  margin: 1rem 0;
  display: flex;
  justify-content: center;

  .main__content {
    width: 75%;
    border: 1px solid lightgray;
    border-radius: .25rem;
    padding: 1rem;
    background-color: #ffffff;
    box-shadow: 1px 2px 5px rgba(0, 0, 0, .15);
  }
}